<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Introduce</title>
</head>

<body>
    <center>
        <h1>Introduce yourself</h1>
        <p>
            My name is
            <strong style="color: green"><%= N %> <%= Sur %></strong>
        </p>
        <p>I'm <strong style="color: red"><%= A %></strong> Year old</p>
        <p><a href="/">Back</a></p>
    </center>
</body>

</html>